@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html {
    font-family: 'JetBrains Mono', monospace;
    background-color: #2B2B2B;
    color: #EAFFFF;
}

.page {
    display: flex;
    height: 100vh;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: right;
    z-index: 1;
}

#navbar ul {
    list-style: none;
    display: block;
    z-index: 1;
}

#navbar li {
    color: #7AA9FF;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #7AA9FF;
}

#intro-page {
    justify-content: center;
    align-items: center;
}

.intro-text {
    font-size: 20px;
    color: #EAFFFF;
}

#about-page {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-desc {
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 150px;
}

.page-title {
    font-size: 30px;
    color: #7AA9FF;
}

#skills-page {
    display: flex;
    justify-content: center;
}

.skill-item {
    margin-bottom: 30px;
    padding-top: 15px;
    display: grid;
    grid-template-rows:    repeat(1, 10px);
    grid-template-columns: repeat(5, 70px);
}

.skill-bar { 
    margin-left: 20px;
}

.grey-out {
    background-color: transparent;
    border: 2px solid grey;
}

.skills-area {
    text-align: center;
}

#html-skill {
    color: #FF5733;
}

#html-bar {
    background-color: #FF5733;
    border: 2px solid #FF5733;
}   

#css-skill {
    color: #33ACFF;
}
#css-bar  {
    background-color: #33ACFF;
    border: 2px solid #33ACFF;
}

#js-skill {
    color: #FFE844;
}

#js-bar {
    background-color: #FFE844;
    border: 2px solid #FFE844;
}

#react-skill {
    color: #44FFE0;
}

#react-bar {
    background-color: #44FFE0;
    border: 2px solid #44FFE0;
}

.js-scroll {
  
    opacity: 0;
    transition: background-color 500ms;
  }
  
  .js-scroll.scrolled {
      opacity: 1;
  }
  
  .scrolled.fade-in {
      animation: fade-in 1s ease-in-out both;
  }
    
  .scrolled.fade-in-bottom {
      animation: fade-in-bottom 1s ease-in-out both;
  }
    
  .scrolled.slide-left {
      animation: slide-in-left 1s ease-in-out both;
  }
    
  .scrolled.slide-right {
      animation: slide-in-right 1s ease-in-out both;
  }
    
  @keyframes slide-in-left {
      0% {
        transform: translateX(-100px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
  }
    
  @keyframes slide-in-right {
      0% {
        transform: translateX(100px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
  }
    
  @keyframes fade-in-bottom {
      0% {
        transform: translateY(50px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
  }
    
  @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }