@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html {
    font-family: 'JetBrains Mono', monospace;
    background-color: #2B2B2B;
    color: #EAFFFF;
    scroll-behavior: smooth;
}

.page {
    display: flex;
    
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: right;
    z-index: 1;
}

#navbar ul {
    list-style: none;
    display: block;
    z-index: 1;
}

#navbar li {
    color: #7AA9FF;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #7AA9FF;
}

.fullscreen {
    height: 100vh;
}

#intro-page {
    justify-content: center;
    align-items: center;
}

.intro-text {
    font-size: 20px;
    color: #EAFFFF;
}

#about-page {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-desc {
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 150px;
}

.page-title {
    font-size: 30px;
    color: #7AA9FF;
}

.skill-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills-page {
    display: flex;
    justify-content: center;
}

.skills-area {
    display: flex;
}

.skill-item {
    margin-bottom: 30px;
    padding-top: 15px;
    display: grid;
    grid-template-rows:    repeat(1, 10px);
    grid-template-columns: repeat(5, 70px);
}

.skill-bar { 
    margin-left: 10px;
    margin-right: 10px;
}

.skills {
    padding: 70px;
    border: 2px solid #7AA9FF;
    border-radius: 20px;
    margin: 40px;
}

.skill-section-title {
     padding-bottom: 20px;
}

.grey-out {
    background-color: transparent;
    border: 2px solid grey;
}

.skills-area {
    text-align: center;
}

#html-skill {
    color: #FF5733;
}

#html-bar {
    background-color: #FF5733;
    border: 2px solid #FF5733;
}   

#css-skill {
    color: #33ACFF;
}
#css-bar  {
    background-color: #33ACFF;
    border: 2px solid #33ACFF;
}

#js-skill {
    color: #FFE844;
}

#js-bar {
    background-color: #FFE844;
    border: 2px solid #FFE844;
}

#react-skill {
    color: #44FFE0;
}

#react-bar {
    background-color: #44FFE0;
    border: 2px solid #44FFE0;
}

#java-skill {
    color: #FF4444;
}

#java-bar {
    background-color: #FF4444;
}

#c-skill {
    color: #4482FF;
}

#c-bar {
    background-color: #4482FF;
}

#cpp-skill {
    color: #444DFF;
}

#cpp-bar {
    background-color: #444DFF;
}

#projects-page {
    display: flex;
   justify-content: center;
   margin-bottom: 20vh;
}

.projects-area {
    flex-direction: column;
}

.work-item {
    padding: 30px;
    display: flex;
    
}

.project-title {
    font-size: 20px;
    padding-bottom: 10px;
}

#bracket {
    font-size: 20px;
    color: #6DDFFF;
}

.project-description {
    max-width: 500px;
    padding: 30px;
}

.project-img {
    max-width: 400px;
}

#web-link {
    color: #B8EB80;
}

#contact-page {
    display: flex;
    justify-content: center;
}

textarea {
    width: 500px;
    height: 200px;
    border: 2px solid #7AA9FF;
    background-color: #2B2B2B;
    border-radius: 3px;
    padding: 12px;
    font-size: 14px;
    font-family: 'JetBrains Mono', monospace;
    color: #7AA9FF;
}

textarea::placeholder {
    color: #7AA9FF;
}

#help-text-field input{
    width:500px;
}

.text-field {
    position: relative;
    font-size: 14px;
    padding-top: 20px;
}

.text-field input{
    border: 2px solid #7AA9FF;
    border-bottom: none;
    -webkit-appearance:none;
    -ms-appearance: none;
    -moz-appearance:none;
    appearance: none;
    background: #2B2B2B;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline:none;
    font-size:14px;
    color: #7AA9FF;
}


.text-field .placeholder {
    font-family: 'JetBrains Mono', monospace;
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #7AA9FF;
    transition: 
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;
}

.text-field input:valid + .placeholder,
.text-field input:focus + .placeholder {
    top: 10px;
    font-size: 10px;
    color: #7AA9FF;
}

#contact-msg {
    padding-top: 30px;
}

.contact-area {
    padding-bottom: 200px;
}

.send-btn {
    color: #7AA9FF;
    background: transparent;
    border: 2px solid #7AA9FF;
}

.js-scroll {
  
    opacity: 0;
    transition: background-color 500ms;
  }
  
  .js-scroll.scrolled {
      opacity: 1;
  }
  
  .scrolled.fade-in {
      animation: fade-in 1s ease-in-out both;
  }
    
  .scrolled.fade-in-bottom {
      animation: fade-in-bottom 1s ease-in-out both;
  }
    
  .scrolled.slide-left {
      animation: slide-in-left 1s ease-in-out both;
  }
    
  .scrolled.slide-right {
      animation: slide-in-right 1s ease-in-out both;
  }
    
  @keyframes slide-in-left {
      0% {
        transform: translateX(-100px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
  }
    
  @keyframes slide-in-right {
      0% {
        transform: translateX(100px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
  }
    
  @keyframes fade-in-bottom {
      0% {
        transform: translateY(50px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
  }
    
  @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }