@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');
:root {
    --primaryfont: 'Montserrat', sans-serif;
    --primarycolor: var(--white);
    --secondarycolor: #ffffff;
    --background-color: black;

    --black:#1e1a16;
    --white:#ffffff;
}

div {
}

.stag-div {
    display: flex;
    overflow: hidden;
}

html {
    background-color: var(--background-color);
    color: var(--primarycolor);
    font-family: var(--primaryfont);
}

#navbar {
    font-family: var(--primaryfont);
    font-weight: bold;
    color:#1e1a16;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--primarycolor);
}

a:active {
    color: #CBCBCB
}

a:hover {
    color:#CBCBCB;
    transition: 250ms ease-out;
}

.header {
    font-family: var(--primaryfont);
    font-size: 35px;
    font-weight: bold;
}


.body {
    font-size: 20px;
    font-family: var(--primaryfont);
    text-transform: uppercase;
}

#nav-container {
    background-color: transparent;
    display: flex;
    justify-content: end;
    padding-right: 30px;
    top:0;
    position: sticky;
}
/**/


#home-elements {
    color: var(--primarycolor);
    height:100vh;
    width:100vw;
    margin-top: -15px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.name-title {
    margin-left: auto;
    font-family: var(--primaryfont);
    font-weight: bold;
    margin-top:auto;
    margin-right: 10px;
    font-size: 100px;
    padding-bottom: 30px;
}

#name-element {
    font-family: 'Gantari', sans-serif;
    font-size: 100px;
    padding-top: 100px;
    
}

#homepage-right {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    
}

.worktitle-element{
    margin-top: 100px;
    font-family: var(--primaryfont);
    font-weight: bold;
    font-size: 100px;
    margin-left: 20px;
}

#symbol {
    font-family: var(--primaryfont);
    font-weight: bold;
    margin-top:50px;
    font-size: 300px;
    text-align: end;
}

#location-element {
    font-size: 20px;
    font-family: 'Gantari', sans-serif;
}

#background-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Projects page*/

#projects-page {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
}

.project-item {
    width: 40vw;

}

#project-1 {
    width: 40vw;
}

#project-2 {
   align-self: flex-end;
   width: 40vw;
}

#project-3 {
    width: 40vw;
}

#project-4 {
    align-self: flex-end;
    width: 40vw;
}
 

/*Skills and about page*/

#page1 {
    display: flex;
    justify-content: space-evenly;
}

.page-title-div {
    
}

#page-title{
    margin-top: 40vh;
}

#skills-section {
    text-align: left;
    width: 40vw;
}

.skillsandabout {
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#skill-icons {
    font-size: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.icon {
    margin: 20px;
    font-weight: bold;
    
}

#react-icon {
   
}

#diy {
    font-size: 85px;
    
}

#about-section {
    text-align: left;
    width: 40vw;
    word-wrap: break-word
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-bottom: 30px;
  }
.skills {
    margin-right: 40px;
}

@media only screen and (max-width: 800px) {
    #navbar {
        visibility: hidden;
    }
    

    #home-elements {
        flex-direction: column;
    }

    .worktitle-element {
        font-size: 45px;
        margin-left: 0;
    }

    #location-element {
        visibility: hidden;
    }

    #symbol {
        font-size: 90px;
        text-align: center;
        padding-left: 0;
    }

    .name-title {
        font-size: 45px;
    }

    #skills-section {
        text-align: center;
        justify-content: center;
    }

    #skill-icons {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .page {
        height: 110vh;
    }

    .header {
        font-size: 20px;
    }

    .body {
        font-size: 12px;
    }

    .icon {
        font-size: 50px;
    }


}
  
  

